.films {
  margin-top: $mg-3;
  max-width: 940px;
  .carousel {
    overflow: visible;
    .carousel-inner{
      padding: 5px;
    }
    .films__item {
      padding: 20px 10px 0;
      margin-bottom: 25px;
      cursor: pointer;
      &:hover .films__thumbnail .films__overlay {
        opacity: 1;
      }
      .films__thumbnail {
        position: relative;
        background-image: url("../img/trang-ti-16194120693380_215x318.jpg");
        background-position: center, 0 0;
        background-size: 100% auto;
        background-repeat: no-repeat, repeat-y;
        margin-bottom: 10px;
        padding-top: 147%;
        cursor: pointer;
        border-radius: $border-radius-0;
        .films__point {
          background-color: rgba(12, 27, 54, 0.8);
          font-size: $fs-5;
          border: 1px solid #1f2e46;
          border-radius: $border-radius-0;
          padding: 2px;
          color: $bg-color;
          text-align: center;
          line-height: 1.1;
          width: 54px;
          position: absolute;
          top: 12px;
          right: 12px;
          p:first-child {
            transform: scaleY(1.2);
            margin: 0;
          }
          p:last-child {
            display: flex;
            justify-content: center;
            margin: 5px 0;
            img {
              max-width: 8px;
              border-radius: $border-radius-0;
            }
          }
        }
        .films__overlay {
          opacity: 0;
          position: absolute;
          top: 0;
          background: $bg-linear-0;
          width: 100%;
          height: 100%;
          transition: all 0.2s;
          img {
            display: block;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            transition: all 0.2s;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      .films__info {
        .films__laber {
          display: inline-block;
          text-align: center;
          font-size: $fs-0;
          border-radius: $border-radius-0;
          background-color: $color-laber;
          padding: 0 5px;
          min-width: 33px;
          margin-right: 8px;
          color: $bg-color;
          &--red{
            @extend .films__laber;
            background-color: $color-laber-1;
          }
        }
        p {
          font-size: $fs-5;
          color: $f-color-default;
          text-transform: capitalize;
        }
        .films__time {
          font-size: 13px;
          color: $text-color;
        }
      }
    }
    .carousel-control-prev {
      top: 320px;
      left: -100px;
      width: 50px;
      height: 150px;
      .carousel-control-prev-icon {
        width: 50px;
        height: auto;
        opacity: 0.5;
      }
    }
    .carousel-control-next {
      top: 320px;
      right: -100px;
      width: 50px;
      height: 150px;
      .carousel-control-next-icon {
        width: 50px;
        height: auto;
        opacity: 0.5;
      }
    }
  }
}

.films {
  .nav-tabs {
    padding: $pd-1 0;
    border: none;
    .nav-link {
      @include styleText($fs-1,$f-color-default,0,0,$fw-normal);
      border: none;
      &:hover {
        transform: scale(1.2);
      }
    }
    .active {
      color: $color-a-hover;
      font-size: $fs-2;
      &:hover {
        transform: scale(1);
      }
    }
  }
}