.products {
    position: relative;
    ::-webkit-scrollbar {
        width: 4px;
    }
      /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(177, 174, 174); 
    }
      
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(196, 193, 193);
        opacity: 0.5;
    }
    .products__content {
        padding: 0;
        .products__top {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            height: 80px;
            max-width: 940px;
            align-items: center;
            background-color: $bg-color;
            box-shadow: 0 0 15px rgba(168, 165, 165, 0.4);
            border-radius: 6px;
            .products__list {
                width: 30%;
                cursor: pointer;
                position: relative;
                padding: 0 $pd-0;
                .chooseFilm {
                    @include styleText($fs-0 - 1,$f-color-default,0,0,$fw-bold-1);
                }
                i {
                    font-size: $fs-0;
                    float: right;
                    padding-top: $pd-0 - 5;
                    opacity: 0.3;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: -10px;
                    right: 0;
                    height: 40px;
                    width: 1px;
                    background-color: rgba($color-p, 0.2);
                }
                .products__submenu {
                    position: absolute;
                    top: 105%;
                    left: -15px;
                    width: 600px;
                    list-style: none;
                    padding-top: $pd-0;
                    z-index: 99999999;
                    background-color: $bg-color;
                    border-radius: $border-radius-0 - 2 0 0 $border-radius-0 - 2;
                    border: 1px solid rgba(223, 218, 218 , 0.5);
                    max-height: 250px;
                    overflow-y: scroll;
                    display: none;
                    li {
                        padding-left: $pd-0 + 5;
                        transition: all 0.2s;
                        a {
                            text-decoration: none;
                            @include styleText($fs-0 - 1,$f-color-default,0,0,$fw-normal);
                            transition: all 0.2s;
                        }
                        &:hover {
                            background-color: #60C5EF;
                        }
                        &:hover a {
                            color: $bg-color;
                        }
                    }
                }
            }
            .products__item {
                width: 17.5%;
                cursor: pointer;
                padding: 0 $pd-0;
                .chooseItem {
                    @include styleText($fs-0 - 1,$f-color-default,0,0,$fw-bold-1);
                }
                i {
                    font-size: $fs-0;
                    float: right;
                    padding-top: $pd-0 - 5;
                    opacity: 0.3;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: -10px;
                    right: 0;
                    height: 40px;
                    width: 1px;
                    background-color: rgba($color-p, 0.2);
                }
            }
            .theater {
                position: relative;
                .products__theater--submenu {
                    display: none;
                    position: absolute;
                    bottom: -60px;
                    left: 0;
                    width: 160px;
                    list-style: none;
                    padding: $pd-0 - 5 0;
                    border-radius: $border-radius-0 - 2;
                    background-color: $bg-color;
                    border: 1px solid rgba(223, 218, 218 , 0.5);
                    li {
                        text-align: center;
                        a {
                            text-decoration: none;
                            @include styleText($fs-0 - 1,$f-color-default,0,0,$fw-normal);
                        }
                        &:hover {
                            background-color: #60C5EF;
                        }
                        &:hover a {
                            color: $bg-color;
                        }
                    }
                }
            }

            .date {
                position: relative;
                .products__date--submenu {
                    display: none;
                    position: absolute;
                    bottom: -60px;
                    left: 0;
                    width: 220px;
                    list-style: none;
                    padding: $pd-0 - 5 0;
                    border-radius: $border-radius-0 - 2;
                    background-color: $bg-color;
                    border: 1px solid rgba(223, 218, 218 , 0.5);
                    li {
                        text-align: center;
                        a {
                            text-decoration: none;
                            @include styleText($fs-0 - 1,$f-color-default,0,0,$fw-normal);
                        }
                        &:hover {
                            background-color: #60C5EF;
                        }
                        &:hover a {
                            color: $bg-color;
                        }
                    }
                }
            }

            .showtime {
                position: relative;
                .products__showtime--submenu {
                    display: none;
                    position: absolute;
                    bottom: -60px;
                    left: 0;
                    width: 280px;
                    list-style: none;
                    padding: $pd-0 - 5 0;
                    border-radius: $border-radius-0 - 2;
                    background-color: $bg-color;
                    border: 1px solid rgba(223, 218, 218 , 0.5);
                    li {
                        text-align: center;
                        a {
                            text-decoration: none;
                            @include styleText($fs-0 - 1,$f-color-default,0,0,$fw-normal);
                        }
                        &:hover {
                            background-color: #60C5EF;
                        }
                        &:hover a {
                            color: $bg-color;
                        }
                    }
                }
            }
            .products__btn {
                width: 17.5%;
                text-align: center;
                button {
                    width: 90%;
                    font-size: $fs-0;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media screen and (max-width: 1365px) {
    .products {
        .products__content {
            .products__top.container {
                bottom: -12%;
            }
        }
    }
}

@include responsive('extra-large')
{
    .products {
        .products__content {
            .products__top.container {
                bottom: 9%;
            }
        }
    }
}

@include responsive('large')
{
    .products {
        .products__content {
            .products__top {
                display: none;
            }
        }
    }
}
  