// mixin responsive
@mixin responsive($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        $value : map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @error 'Screen not exist';
    }
}


@mixin styleText($fs,$color,$mg-x,$mg-y,$fw) {
    font-size: $fs;
    color: $color;
    margin: $mg-y $mg-x;
    font-weight: $fw;
}

@mixin styleButton($fsize, $color, $rounded, $bgColor, $bColor, $py, $px) {
    font-size: $fsize;
    color: $color;
    border-radius: $rounded;
    background-color: $bgColor;
    border: 1px solid $bColor;
    text-transform: uppercase;
    padding: $py $px;
}